.sidenav-container {
    height: 100vh;
  }
  
  .sidenav {
    width: 200px;
  }

  mat-nav-list a.mat-list-item {
    display: flex;
    align-items: center;
    gap: 12px; // spacing between icon and label
  }
  
  .nav-label {
    font-size: 14px;
  }
  
  .content {
    padding: 16px;
  }
  
  .spacer {
    flex: 1 1 auto;
  }

  .welcome-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100vw;
  
    @media (max-width: 500px) {
      max-width: 45vw;
    }
  }
  