/* You can add global styles to this file, and also import other style files */
//@import '@angular/material/prebuilt-themes/magenta-violet.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* styles.scss */
::ng-deep .mat-mdc-snack-bar-container.snack-success {
    background-color: #4caf50 !important;
    color: white !important;
  }
  
  ::ng-deep .mat-mdc-snack-bar-container.snack-error {
    background-color: #f44336 !important;
    color: white !important;
  }
  
  ::ng-deep .mat-mdc-snack-bar-container.snack-warning {
    background-color: #ff9800 !important;
    color: white !important;
  }

  input::-ms-reveal {
    display: none;
  }
  
